.footer {
    & {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        background-color: black;
    }

    .logo {
        height: 40px;
        margin-bottom: 20px;
    }

    p {
        font-size: 24px;
        color: white;
    }

    @media (max-width: 768px) {

        .logo {
            height: 30px;
            margin-bottom: 20px;
        }

        p {
            font-size: 17px;
            color: white;
        }

    }
}